@import './styl/pages/_layouts.import'
@import './styl/utils/_type.import'

normalize-css();

html
  box-sizing: border-box
  height 100%

*
*:before
*:after
  box-sizing: inherit

body
  height 100vh
  padding-top: $headerHeight
  > div, > div > div
      height 100vh

header
  background $blue
  box-shadow $shadow
  fixed top left
  height $headerHeight
  padding $padding * 2 $padding
  transition all 0.3s ease
  width 100%
  z-index: z.nav
  display flex
  justify-content space-between
  nav
    ul
      margin 0
    li
      display inline-block
      margin 0 $margins


/* BUTTONS */
button
.button
  background $blue
  border none
  border-radius $rounded
  color: textColor.button
  trans()
  &:hover
    background $blue - 20

/* LOGIN */
#login-buttons
  .login-button
    @extend .button
  #login-dropdown-list
    border none
    border-radius 0
    box-shadow: $shadow
    margin $margins * 0
    left auto
    right 0
    top 15px

// .popup
//   background-color $gray
//   box-shadow $shadow
//   left 50%
//   position fixed
//   top 50%
//   transform translateY(-50%) translate(-50%)
//   width 80%
//   z-index: z.modal
