@import 'nib'
@import '../_vars.import'
@import '../_easings.import'
@import '../_funcs.import'

allHeadings = 'h1,h2,h3,h4,h5,h6'

p
  color: textColor.body
  font-family primaryFont
  font-size $baseText
  line-height 1.5

{ allHeadings }
  color: textColor.headline

a
.link
  color: textColor.link
  text-decoration none

ol
ul
  list-style none
  padding-left 0

/* FORMS */

form
  padding $padding
  button
  label
    display block
    margin $margins $margins * 2
  input[type="text"]
  input[type="email"]
  input[type="password"]
  input[type="tel"]
  input[type="number"]
  select
  textarea
    @extend form button
    background-color white
    border 1px solid gray;
    border-radius $rounded / 2
    box-sizing border-box
