@import 'nib'
@import '../_vars.import'
@import '../_easings.import'
@import '../_funcs.import'

allHeadings = 'h1,h2,h3,h4,h5,h6'

body
  color: textColor.body
  font-family primaryFont
  font-size $baseText
  line-height 1.5

ol
ul
  list-style none

a
  color: textColor.link
  text-decoration none
