@require '../_vars.styl'
@require '../_easings.styl'
@require '../_funcs.styl'

allHeadings = 'h1,h2,h3,h4,h5,h6'

body
  font-family primaryFont
  font-size $baseText
  line-height 1.5

ol
ul
  list-style none
