@require '../_vars.styl'
@require '../_easings.styl'
@require '../_funcs.styl'

button
.button
  background gray
  border none
  border-radius $rounded
  text-transform uppercase
  trans()
  &:hover
    background gray - 20
