@import 'nib'
@import '../_vars.import'
@import '../_easings.import'
@import '../_funcs.import'

// BUTTONS
button
.button
  background gray
  border none
  border-radius $rounded
  text-transform uppercase
  trans()
  &:hover
    background gray - 20

// LOGIN STYLING
#login-buttons
  display block
  .login-button
    @extend .button
  #login-buttons-twitter
    background: white
    border: none
    color: socialColor.twitter
  @media (min-width $large)
    display inline-block
  #login-dropdown-list
    border none
    border-radius 0
    box-shadow: $shadow
    margin $margins * 0
    position fixed
    input[type=password], input[type=email]
      appearance none
      background: #111
      border none
      border-bottom: solid 2px white
      border-radius 0
      margin-bottom $margins
      padding: $padding
    label
      display: block;
      text-align: left;
      text-transform: uppercase;
    @media (min-width $large)
      padding: 5% 15%
