@import 'nib'
@import '../_vars.import'
@import '../_easings.import'
@import '../_funcs.import'
@import '../_grid.import'

/* MAIN LAYOUT */
.main-layout
  max-width $med
  min-height 100vh
  padding $margins
  margin auto
  .panel
    trans()
    background: colors.highlight
    border-radius $rounded
    box-shadow $shadow
    margin $margins 0
    padding $padding * 2
    &.searchbar
      background none
      box-shadow none

/* FORMS */
.workout-form 
  display flex
  flex-direction column 

/* TIMER */
.workout-timer
  display flex
  flex-direction column
  text-align center
  .number
    color: textColor.highlight
  .timer-top
    display flex
    justify-content space-around
    flex-direction row

/* SEARCHBAR */
.searchbar 
  display flex
  justify-content flex-end

/* WORKOUTS */
.workout-layout
  .workout
    .link
      display flex
      justify-content space-between
      .workout-title
        display flex
        align-items center
        h3
          text-transform uppercase
        p
          margin-left $margins
    .icon-edit
      opacity 0
    &:hover
      background: colors.main
      // cursor pointer
      .icon-edit 
        opacity 1
    &.edit
      .workout-top
        display flex
        justify-content space-between
      &:hover
        background: colors.highlight