@import 'nib'
@import '../_vars.import'
@import '../_easings.import'
@import '../_funcs.import'

/* MAINLAYOUT */
.main-layout
  margin $margins * 6 auto
  padding $margins
  max-width $med
  min-height 100vh

/* Circuit Form */
.circuit-form
  display flex
  justify-content space-between

/* WORKOUTS */
.workout-layout
  .workout, .rest
    background $gray
    margin $margins 0
    padding $padding * 2