@import 'nib'
@import '../_vars.import'
@import '../_easings.import'
@import '../_funcs.import'

/* MAINLAYOUT */
.main-layout
  margin $margins * 6 auto
  width 100%
  @media (min-width $large)
      width 90%

/* HOME */

/* WORKOUTS */
.exercise-layout
.workout-layout
  form
    background-color gray
  .exercise
  .workout
    border 1px solid gray
    box-shadow $shadow
    display inline-block
    margin $margins
    padding $padding * 2
    p
      text-align center
      a
        color: textColor.linkInverse
    .delete
      float right

/* EXERCISES */

/* TIMER */

/* LIBRARY */
