@require '../_vars.styl'
@require '../_easings.styl'
@require '../_funcs.styl'

// MAINLAYOUT
.main-layout
  margin $margins * 6 auto
  width 100%
  +above($large)
      width 90%

// HOME

// WORKOUTS

// EXERCISES

// TIMER

// LIBRARY

// FOOTER
