// Colors
black = #000000
gray = #E8E8E8
green = #00AD83
red = #ED2939
socialColor = {
  twitter: #00aced,
  facebook: #3b5998,
  google: #dd4b39,
  youtube: #bb0000
}
textColor = {
  body: black,
  headline: green,
  link: black,
  subheader: gray
}
white = #ffffff

// Fonts
sans = helvetica, arial, sans-serif

primaryFont = sans
subFont = ''

// Grid
$xsmall = 340px
$small = 500px
$med = 800px
$large = 960px
$wide = 1200px

// Header Height
$headHeight = 65px

// Layers
z = {
  video: 7,
  header: 8,
  nav: 9,
  modal: 10
}

// Rounding
$rounded = 4px
$circle = 50%

// Sizes
$baseText = 1em
$inputText = $baseText
$headline1 = $baseText * 2
$headline2 = $baseText * 1.5
$headline3 = $baseText
$smallText = $baseText * 0.9
$buttonText = $baseText * 0.9

$margins = 10px
$padding = $margins

// Shadow
$shadow = 1px 3px 4px rgba(#000000, 0.22), -3px 1px 4px rgba(#000000, 0.15)
