@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

// Colors
$black = #222
$cyan = #55A8DB
$dark-purple = #312C49
$extra-light-purple = #B1A5D3
$grey = #D8D8D8
$green = #43B480
$light-grey = #EEE
$light-purple = #4E4574
$purple = #393156
$white = #ffffff

socialColor = {
  twitter: #00aced,
  facebook: #3b5998,
  google: #dd4b39,
  youtube: #bb0000
}

textColor = {
  headline: $extra-light-purple,
  highlight: $cyan,
  input: $purple,
  link: $extra-light-purple,
  main: $extra-light-purple,
  white: $white
}

colors = {
  add: $green,
  border: $grey,
  button: $purple,
  darken: $dark-purple,
  highlight: $light-purple,
  main: $purple,
  shadow: $black,
  well: $dark-purple,
  white: $white
}

// Fonts
sans = 'Raleway', 'Arial'

primaryFont = sans
subFont = ''

// Grid
$xsmall = 340px
$small = 500px
$med = 800px
$large = 960px
$wide = 1200px

// Header Height
$headerHeight = 65px

// Layers
z = {
  video: 7,
  header: 8,
  nav: 9,
  modal: 10
}

// Rounding
$rounded = 4px
$circle = 50%

// Animation speed
speed = {
  slow: 0.5s,
  med: 0.3s,
  fast: 0.2s
}

// Sizes
$baseText = 1em
$inputText = $baseText
$headline1 = $baseText * 2
$headline2 = $baseText * 1.5
$headline3 = $baseText
$smallText = $baseText * 0.9
$buttonText = $baseText * 0.9

$margins = 0.5em
$padding = $margins

// Shadow
$shadow = 1px 3px 4px rgba(colors.shadow, 0.22), -3px 1px 4px rgba(colors.shadow, 0.15)
